<!--Footer-->
<footer class="page-footer center-on-small-only orange">
    <!--Call to action-->
    <div class="call-to-action">
        <h4><img src="http://i.imgur.com/3OXsxCc.png?1" style="height:40px"></h4>
        <p>Time is money. Both ways.</p>
    </div>
    <!--/.Call to action-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            GA WDI 8 /
            <a href="http://www.MDBootstrap.com"> mdbootstrap.com</a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
