<!--Footer-->
<footer class="page-footer center-on-small-only orange">
    <!--Call to action-->
    <div class="call-to-action">
        <h3>StandIn</h3>
        <p>Time is money. Both ways.</p>
    </div>
    <!--/.Call to action-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2015 Copyright: <a href="http://www.MDBootstrap.com"> MDBootstrap.com </a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
