<h1>All Users</h1>

<%@users.each do |person|%>
<div class="container">
  <p><%=person.name%></p>
  <p><%=person.email%></p>
  <p>Admin Status: <%=person.is_Admin%>
  <%=link_to "Change Admin Status", user_path(person, "user[is_Admin]"=>!person.is_Admin), method: :patch, class: "btn btn-primary"%>
</div>
<%end%>
