<div class="wrapper">
  <div class="response container">
    <div class="content" id="transaction-success">
      <% if @result %>
        <div class="icon">
          <img src="http://energyauditpeople.com/images/success-check-icon.png" width=150 alt="">
        </div>

        <h1><%= @result[:header] %></h1>
        <section>
          <p><%= @result[:message] %></p>
        </section>
      <% else %>
        <section>
          <p>Test another transaction or see the Braintree API response.</p>

          <%=@re%>
      </section>

      <% end %>

    </div>
  </div>
</div>
