<div class="text-center">
  <img src="http://i.imgur.com/SAD2Q2L.png?1" style="width:70%; margin:auto;" alt="dollar">
  <br><br>
  <a href="/my/users/sign_in" class="btn orange">Log In </a>
  <a href="/my/users/sign_up" class="btn orange">Register as New User</a>
</div>

    <div class="divider-new">
        <h2 class="h2-responsive">How StandIn Works</h2>
    </div>

    <!--Section: About-->
    <section id="about" class="text-center">

    <div class="row">
      <div class="col-sm-3 padding" style="min-height: 200px; max-height:200px">
        <img src="https://image.flaticon.com/icons/svg/138/138775.svg" style="width:60%; margin:auto"><br><br>
        <p>Find an event you want to get something from.</p>
      </div>
      <div class="col-sm-3 padding" style="min-height: 200px; max-height:200px">
        <img src="https://image.flaticon.com/icons/svg/291/291699.svg" style="width:60%; margin:auto"><br><br>
        <p>Post a request on StandIn.<br>Offer a fee.</p>
      </div>
      <div class="col-sm-3 padding" style="min-height: 200px; max-height:200px">
        <img src="https://image.flaticon.com/icons/svg/189/189090.svg" style="width:60%; margin:auto"><br><br>
        <p>Another user accepts your request and stands in line for you.</p>
      </div>
      <div class="col-sm-3 padding" style="min-height: 200px; max-height:200px">
        <img src="https://image.flaticon.com/icons/svg/164/164434.svg" style="width:60%; margin:auto"><br><br>
        <p>Meet your stand-in. Pay him/her online!</p>
      </div>
    </div>

    </section>

    <!--Section: Team -->

    <div class="divider-new">
        <h2 class="h2-responsive">Team</h2>
    </div>

    <!--Section: Best features-->
    <section id="best-features">

        <div class="row">

            <!--First columnn-->
            <div class="col-lg-4">
                <!--Card-->
                <div class="card wow fadeInUp">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="http://i.imgur.com/TRKjJIm.jpg?1" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-center">
                        <!--Title-->
                        <h4 class="card-title">Jonathan Lim</h4>
                        <!--Text-->
                        <p class="card-text">Web Developer<br><i>jonathanlimes@gmail.com</i></p>
                        <a style="color:orange" href="https://github.com/jonathanlimes"><i class="fa fa-github fa-2x"></i></a><br><br>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--First columnn-->

            <!--Second columnn-->
            <div class="col-lg-4">
                <!--Card-->
                <div class="card wow fadeInUp" data-wow-delay="0.2s">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="http://i.imgur.com/pq4UcSj.jpg?1" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-center">
                        <!--Title-->
                        <h4 class="card-title">Elaine Lim</h4>
                        <!--Text-->
                        <p class="card-text">Web Developer<br><i>lainex@gmail.com</i></p>
                        <a style="color:orange" href="https://github.com/lainelim"><i class="fa fa-github fa-2x"></i></a><br><br>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--Second columnn-->

            <!--Third columnn-->
            <div class="col-lg-4">
                <!--Card-->
                <div class="card wow fadeInUp" data-wow-delay="0.4s">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="http://i.imgur.com/KUPIf0Y.jpg?1" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-center">
                        <!--Title-->
                        <h4 class="card-title">Iskandar Jamaluddin</h4>
                        <!--Text-->
                        <p class="card-text">Web Developer<br><i>anatraxia@gmail.com</i></p>
                        <a style="color:orange" href="https://github.com/anatraxia"><i class="fa fa-github fa-2x"></i></a><br><br>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--Third columnn-->

        </div>

    </section>
    <!--/Section: Best features-->

    <div class="divider-new">
        <h2 class="h2-responsive">Contact</h2>
    </div>

    <!--Section: Contact-->
    <section id="contact">
        <div class="row">

            <!--Second column-->
            <div class="col-md-12">
                <ul class="text-center">
                    <li class="wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-map-marker orange-text"></i>
                        <p>8 Claymore Hill, Singapore</p>
                    </li>

                    <li class="wow fadeInUp" data-wow-delay="0.4s"><i class="fa fa-envelope orange-text"></i>
                        <p><i>hello@standin.com</i></p>
                    </li>
                </ul>
            </div>
            <!--/Second column-->
        </div>
    </section>
    <!--Section: Contact-->
