<div class="text-center">
  <img src="http://i.imgur.com/sKUl26J.png" height="400" alt="dollar">
  <h1 class="title"><i><b>Time is money. Both ways.</b></i></h1>
</div>

    <div class="divider-new">
        <h2 class="h2-responsive">About StandIn</h2>
    </div>

    <!--Section: About-->
    <section id="about" class="text-center">

    <img src="http://i.imgur.com/amR6ukc.png" style="max-width: 100%" alt="Product Process">

        <p>Want that famous restaurant meal? Or those tickets to that big concert? Or the product from the launch you've been waiting a long time for? Don't stand in line for those. No more queues forever! StandIn provides a peer-to-peer platform to match people facing a time crunch with those who are willing to help with their errands or tasks.</p>

    </section>
    <!--Section: About-->

    <div class="divider-new">
        <h2 class="h2-responsive">Team</h2>
    </div>

    <!--Section: Best features-->
    <section id="best-features">

        <div class="row">

            <!--First columnn-->
            <div class="col-lg-4">
                <!--Card-->
                <div class="card wow fadeInUp">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="http://i.imgur.com/TRKjJIm.jpg?1" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-center">
                        <!--Title-->
                        <h4 class="card-title">Jonathan Lim</h4>
                        <!--Text-->
                        <p class="card-text">Web Developer<br><i>jonathanlimes@gmail.com</i></p>
                        <a href="https://github.com/jonathanlimes"><i class="fa fa-github fa-2x"></i></a><br><br>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--First columnn-->

            <!--Second columnn-->
            <div class="col-lg-4">
                <!--Card-->
                <div class="card wow fadeInUp" data-wow-delay="0.2s">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="http://i.imgur.com/pq4UcSj.jpg?1" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-center">
                        <!--Title-->
                        <h4 class="card-title">Elaine Lim</h4>
                        <!--Text-->
                        <p class="card-text">Web Developer<br><i>lainex@gmail.com</i></p>
                        <a href="https://github.com/lainelim"><i class="fa fa-github fa-2x"></i></a><br><br>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--Second columnn-->

            <!--Third columnn-->
            <div class="col-lg-4">
                <!--Card-->
                <div class="card wow fadeInUp" data-wow-delay="0.4s">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="http://i.imgur.com/KUPIf0Y.jpg?1" class="img-fluid" alt="">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-center">
                        <!--Title-->
                        <h4 class="card-title">Iskandar Jamaluddin</h4>
                        <!--Text-->
                        <p class="card-text">Web Developer<br><i>anatraxia@gmail.com</i></p>
                        <a href="https://github.com/anatraxia"><i class="fa fa-github fa-2x"></i></a><br><br>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--Third columnn-->

        </div>

    </section>
    <!--/Section: Best features-->

    <div class="divider-new">
        <h2 class="h2-responsive">Contact</h2>
    </div>

    <!--Section: Contact-->
    <section id="contact">
        <div class="row">

            <!--Second column-->
            <div class="col-md-12">
                <ul class="text-center">
                    <li class="wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-map-marker orange-text"></i>
                        <p>8 Claymore Hill, Singapore</p>
                    </li>

                    <li class="wow fadeInUp" data-wow-delay="0.4s"><i class="fa fa-envelope orange-text"></i>
                        <p><i>hello@standin.com</i></p>
                    </li>
                </ul>
            </div>
            <!--/Second column-->
        </div>
    </section>
    <!--Section: Contact-->
