<h1>StandIn</h1>

<img src="http://www.iconsfind.com/wp-content/uploads/2015/12/20151208_56663ecfafb69.png" height="150" alt="dollar">
<img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/clock-icon.png" height="150" alt="clock">

<h3><i>Time is money. Both ways.</i></h3>
