<h1>Landing Page</h1>

<h2>My Requests <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add new request</a></h2>

<div class="row">
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Request Name
        <br>
      </h3>
    </div>
    <div class="panel-body">
      <img src="http://unsplash.it/300">
      <h5>Location</h5>
      <a href="#" class="btn btn-primary col-sm-6">
        <span class="glyphicon glyphicon-eye-open"></span> View
      </a>
      <form action="#">
        <button class="btn btn-warning col-sm-6" type="submit">
          <span class="glyphicon glyphicon-pencil"></span> Edit
        </button>
      </form>
    </div>
  </div>
</div>
</div>

<h2>Trending Events</h2>

<div class="row">
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Event Name
        <br>
      </h3>
    </div>
    <div class="panel-body">
      <img src="http://unsplash.it/300">
      <h5>Location</h5>
      <a href="#" class="btn btn-primary col-sm-6">
        <span class="glyphicon glyphicon-eye-open"></span> View
      </a>
      <form action="#">
        <button class="btn btn-success col-sm-6" type="submit">
          <span class="glyphicon glyphicon-pencil"></span> Request
        </button>
      </form>
    </div>
  </div>
</div>
</div>
